
P-notes/C\#/T1/obj/T1.csproj.nuget.g.props
P-notes/C\#/T1/obj/T1.csproj.nuget.dgspec.json
P-notes/C\#/T1/obj/project.nuget.cache
P-notes/C\#/T1/obj/project.assets.json
P-notes/C\#/T1/obj/Debug/net7.0/T1.GeneratedMSBuildEditorConfig.editorconfig
P-notes/C\#/T1/obj/Debug/net7.0/T1.assets.cache
P-notes/C\#/T1/obj/Debug/net7.0/T1.AssemblyInfoInputs.cache
P-notes/C\#/T1/obj/Debug/net7.0/T1.AssemblyInfo.cs
.vscode/settings.json
*.json
*.props
*.editorconfig
*.cache
*.cs
*.vsidx
*.bin
*.vsidx
*.vsidx
*.bin
*.v2
