P-notes/C\#/T1/obj
P-notes/C\#/T1/obj/Debug/net7.0
.vscode/settings.json
*.json
*.props
*.editorconfig
*.cache
*.vsidx
*.bin
*.vsidx
*.vsidx
*.bin
*.v2
*.vsidx
*.bin
*.vsidx
P-notes/C\#/LibDev/.vs/LibDev/v17/.suo
*.bin
*.dll
*.exe
*.pdb
*.exe
P-notes/C\#/LibDev/obj/Debug/net9.0
*.exe
*.pdb
*.dll
*.v2
P-notes/C\#/LibDev/.vs/LibDev/v17/.suo
/P-notes/C/uitest/libs/Misc
